<div class="flex items-center justify-between bg-gray-100 p-4 mt-8 shadow  rounded-lg bg-gradient-to-r from-[#B4919D] to-[#616162]">
        <div class="flex items-center space-x-2">
            <img src="/img/curl.png" alt="logo"  class="w-[5vh] m-2">
            <span class="text-xl font-bold ">SSBeauty</span>
        </div>
        <div class="flex items-center space-x-4">
            <!-- เหลือใส่กดเชื่อม -->
            <a href="/employee/home" class="hover:bg-white hover:bg-opacity-30 text-white px-4 py-2 rounded-lg text-xl"><button>ตารางงาน</button></a>
            <a href="/employee/stock" class="hover:bg-white hover:bg-opacity-30 text-white px-4 py-2 rounded-lg text-xl"><button>เบิกสินค้า</button></a>
            <div class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center cursor-pointer hover:bg-pink-50 overflow-hidden" onclick="openPopupprofile()">
                <img src="/img/profile.png" alt="Profile" class="w-full h-full object-cover" />
            </div>
        </div>
</div>