<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title>
    <!-- <link rel="stylesheet" href="./dist/output.css" /> -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- font -->
    <!-- manu -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- arrow -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body class="bg-gradient-to-t from-[#F2F1EB] to-[#DBB3C1] h-screen bg-fixed bg-cover bg-center min-h-screen">

    <!--  start navbar -->
    <%- include('nav_user', { activePage: 'hair' }) %>
    <!-- <header
        class="bg-gradient-to-r from-[#DBB3C1] to-[#A5848F] max-w-[93%] mx-auto rounded-3xl shadow-lg shadow-black-200 my-2 font-bold fixed w-full z-50 top-5 left-1/2 -translate-x-1/2 z-50">
        <nav class="font-[tangerine] p-[0.5vh] flex justify-between items-center">
            <div class="flex items-center">
                <img src="curl.png" alt="#" class="w-[5vh] m-2">
                <span class="text-[#E5408E] text-[4.5vh] align-middle ml-2">SSBeauty</span>
            </div>
            <div class="flex items-center gap-5">
                <div
                    class="nav md:static md:minh-fit md:bg-transparent  absolute bg-white rounded-3xl right-[1%] top-[-1000%] p-3 ">
                    <ul
                        class="flex md:flex-row flex-col items-center md:gap-5 gap-2 text-[3.7vh] md:text-[4.2vh] md:text-white text-[#E5408E]">
                        <li>
                            <a href=""
                                class="p-2 md:hover:bg-white md:hover:text-[#E5408E] md:rounded-xl hover:bg-pink-100 rounded-xl ">Hair</a>
                        </li>
                        <li>
                            <a href=""
                                class="p-2 md:hover:bg-white md:hover:text-[#E5408E] md:rounded-xl hover:bg-pink-100 rounded-xl">Spa</a>
                        </li>
                        <li>
                            <a href=""
                                class="p-2 md:bg-white md:text-[#E5408E] md:rounded-xl hover:bg-pink-100 rounded-xl ">History</a>
                        </li>
                        <li>
                            <a href=""
                                class="p-2 md:hover:bg-white text-[#E5408E] md:rounded-xl bg-pink-100 rounded-xl">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center">
                    <a href="">
                        <img src="profile.png" alt="" class="w-[5vh] mr-2">
                    </a>
                    <ion-icon onclick="menuToggle(this)" name="menu"
                        class="text-3xl cursor-pointer md:hidden text-white"></ion-icon>
                </div>
            </div>
        </nav>
    </header> -->
    <!--  end navbar -->


        <div id="filter" class="md:pt-[18vh] pt-[13vh]  w-full font-[kanit] text-[2vh]  mb-5 ">
        <!-- filter1 กลาง -->
        <div id="filter1" 
            class="flex space-x-2  bg-white/60 border rounded-xl p-3 absolute left-1/2 transform -translate-x-1/2 shadow-lg ">
            <div>
                <p class="text-gray-500">ค้นหา</p>
                <input type="text" placeholder="ค้นหาบริการ" class="border rounded-lg px-3 py-1">
            </div>
            <div>
                <p class="text-gray-500">ช่วงราคา</p>
                <!-- ใส่สัปดาห์ งง ว่าต้องใส่อะไร -->
                <select class="border rounded-lg px-3 py-1 mr-2">
                    <option value="none"></option>
                    <option value="1">0-500 บาท</option>
                    <option value="2">500-1000 บาท</option>
                    <option value="3">1000-1500 บาท</option>
                    <option value="4">1500-2000 บาท</option>
                    <option value="5">2000-2500 บาท</option>
                </select>
            </div>
            <div class="pt-6">
                <button class="bg-pink-400 hover:bg-pink-500 text-white px-4 rounded-lg h-8">ค้นหา</button>
            </div>
        </div>
    </div>

    <!-- service --> 
<div class="max-w-[90%] space-y-5 pb-10 md:pt-[10vh] pt-[8vh]
            grid grid-cols-1 lg:grid-cols-2 justify-items-center flex mx-auto gap-x-5 max-[500px]:max-w-[100%]">
  
  <!-- card -->
  <% services.forEach(service => { %>
    <a class="max-w-[600px] w-full  rounded-3xl shadow-lg shadow-black-200 
          bg-white/60 backdrop-blur-md p-5 flex flex-wrap max-[500px]:max-w-[90%] mt-[2.4vh] justify-center items-center" href="" >
      <div class="flex gap-2 ">
        <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
            class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
        <div class="ml-5 space-y-4 justify-center  flex flex-col max-[1085px]:ml-[2vh]">
          <div class="flex items-center gap-2 font-[inter] text-[#616162] text-[2vh]">
            <img src="/img/shopping-cart.png" alt="" class="w-[2vh]">
            <p><%= service.name %></p>
          </div>
          <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh] ">
            <img src="/img/pending.png" alt="" class="w-[2vh]">
            <p><%= service.duration %> นาที</p>
          </div>
          <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh]">
            <img src="/img/usd-circle.png" alt="" class="w-[2vh]">
            <p><%= service.price %> บาท</p>
          </div>
        </div>
      </div>
      <div
        class="bg-[#DBB3C1] text-white font-[kanit] text-[2vh] p-2 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 h-fit self-end ml-auto">
        <button>จองคิว</button>
      </div>
    </a>
  <% }); %>
  <!-- <a class="max-w-[600px] w-full  rounded-3xl shadow-lg shadow-black-200 
         bg-white/60 backdrop-blur-md p-5 flex flex-wrap max-[500px]:max-w-[90%] mt-[2.4vh] justify-center items-center" href="" >
    <div class="flex gap-2 ">
      <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
           class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
      <div class="ml-5 space-y-4 justify-center  flex flex-col max-[1085px]:ml-[2vh]">
        <div class="flex items-center gap-2 font-[inter] text-[#616162] text-[2vh]">
          <img src="/img/shopping-cart.png" alt="" class="w-[2vh]">
          <p>Tensonez</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh] ">
          <img src="/img/pending.png" alt="" class="w-[2vh]">
          <p>120 นาที</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh]">
          <img src="/img/usd-circle.png" alt="" class="w-[2vh]">
          <p>760 บาท</p>
        </div>
      </div>
    </div>
    <div
      class="bg-[#DBB3C1] text-white font-[kanit] text-[2vh] p-2 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 h-fit self-end ml-auto">
      <button>จองคิว</button>
    </div>
  </a>
    <a class="max-w-[600px] w-full  rounded-3xl shadow-lg shadow-black-200 
         bg-white/60 backdrop-blur-md p-5 flex flex-wrap max-[500px]:max-w-[90%]" href="">
    <div class="flex gap-2 ">
      <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
           class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
      <div class="ml-5 space-y-4 justify-center  flex flex-col max-[1085px]:ml-[2vh]">
        <div class="flex items-center gap-2 font-[inter] text-[#616162] text-[2vh]">
          <img src="/img/shopping-cart.png" alt="" class="w-[2vh]">
          <p>Tensonez</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh] ">
          <img src="/img/pending.png" alt="" class="w-[2vh]">
          <p>120 นาที</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh]">
          <img src="/img/usd-circle.png" alt="" class="w-[2vh]">
          <p>760 บาท</p>
        </div>
      </div>
    </div>
    <div
      class="bg-[#DBB3C1] text-white font-[kanit] text-[2vh] p-2 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 h-fit self-end ml-auto">
      <button>จองคิว</button>
    </div>
  </a>
  <a class="max-w-[600px] w-full rounded-3xl shadow-lg shadow-black-200 
         bg-white/60 backdrop-blur-md p-5 flex flex-wrap max-[500px]:max-w-[90%]" href="">
    <div class="flex gap-2 ">
      <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
           class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
      <div class="ml-5 space-y-4 justify-center  flex flex-col max-[1085px]:ml-[2vh]">
        <div class="flex items-center gap-2 font-[inter] text-[#616162] text-[2vh]">
          <img src="/img/shopping-cart.png" alt="" class="w-[2vh]">
          <p>Tensonez</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh] ">
          <img src="/img/pending.png" alt="" class="w-[2vh]">
          <p>120 นาที</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh]">
          <img src="/img/usd-circle.png" alt="" class="w-[2vh]">
          <p>760 บาท</p>
        </div>
      </div>
    </div>
    <div
      class="bg-[#DBB3C1] text-white font-[kanit] text-[2vh] p-2 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 h-fit self-end ml-auto">
      <button>จองคิว</button>
    </div>
  </a>
  <a class="max-w-[600px] w-full rounded-3xl shadow-lg shadow-black-200 
         bg-white/60 backdrop-blur-md p-5 flex flex-wrap max-[500px]:max-w-[90%]" href="">
    <div class="flex gap-2 ">
      <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
           class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
      <div class="ml-5 space-y-4 justify-center  flex flex-col max-[1085px]:ml-[2vh]">
        <div class="flex items-center gap-2 font-[inter] text-[#616162] text-[2vh]">
          <img src="/img/shopping-cart.png" alt="" class="w-[2vh]">
          <p>Tensonez</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh] ">
          <img src="/img/pending.png" alt="" class="w-[2vh]">
          <p>120 นาที</p>
        </div>
        <div class="flex items-center gap-2 font-[kanit] text-[#616162] text-[2vh]">
          <img src="/img/usd-circle.png" alt="" class="w-[2vh]">
          <p>760 บาท</p>
        </div>
      </div>
    </div>
    <div
      class="bg-[#DBB3C1] text-white font-[kanit] text-[2vh] p-2 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300 h-fit self-end ml-auto">
      <button>จองคิว</button>
    </div>
  </a> -->


</div>



</body>
<script>
    // nav manu
    const nav = document.querySelector('.nav');
    function menuToggle(e) {
        e.name = e.name === 'menu' ? 'close' : 'menu';
        nav.classList.toggle('top-[110%]');
        nav.classList.toggle('top-[-1000%]');
    }
</script>

</html>