<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- font -->
  <!-- manu -->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <!-- arrow -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body class="bg-gradient-to-t from-[#F2F1EB] to-[#DBB3C1] h-screen bg-fixed bg-cover bg-center min-h-screen">

  <!--  start navbar -->
  <header
    class="bg-gradient-to-r from-[#DBB3C1] to-[#A5848F] max-w-[93%] mx-auto rounded-3xl shadow-lg shadow-black-200 my-2 font-bold fixed w-full z-50 top-5 left-1/2 -translate-x-1/2 z-50">
    <nav class="font-[tangerine] p-[0.5vh] flex justify-between items-center">
      <div class="flex items-center">
        <img src="curl.png" alt="#" class="w-[5vh] m-2">
        <span class="text-[#E5408E] text-[4.5vh] align-middle ml-2">SSBeauty</span>
      </div>
      <div class="flex items-center gap-5">
        <div
          class="nav md:static md:minh-fit md:bg-transparent  absolute bg-white rounded-3xl right-[1%] top-[-1000%] p-3 ">
          <ul
            class="flex md:flex-row flex-col items-center md:gap-5 gap-2 text-[3.7vh] md:text-[4.2vh] md:text-white text-[#E5408E]">
            <li>
              <a href=""
                class="p-2 md:hover:bg-white md:hover:text-[#E5408E] md:rounded-xl hover:bg-pink-100 rounded-xl ">Hair</a>
            </li>
            <li>
              <a href=""
                class="p-2 md:hover:bg-white md:hover:text-[#E5408E] md:rounded-xl hover:bg-pink-100 rounded-xl">Spa</a>
            </li>
            <li>
              <a href=""
                class="p-2 md:hover:bg-white md:hover:text-[#E5408E] md:rounded-xl hover:bg-pink-100 rounded-xl">History</a>
            </li>
            <li>
              <a href=""
                class="p-2 md:hover:bg-white text-[#E5408E] md:rounded-xl bg-pink-100 rounded-xl">Logout</a>
            </li>
          </ul>
        </div>
        <div class="flex items-center">
          <a href="">
            <img src="profile.png" alt="" class="w-[5vh] mr-2">
          </a>
          <ion-icon onclick="menuToggle(this)" name="menu"
            class="text-3xl cursor-pointer md:hidden text-white"></ion-icon>
        </div>
      </div>
    </nav>
  </header>
  <!--  end navbar -->

  <!--  start welcome -->
  <div class="md:pt-[15vh] pt-[13vh]">
    <div class="max-w-[93%] h-[40vh] mx-auto rounded-3xl shadow-lg shadow-black-200 md:my-3 
              font-bold bg-white/60 backdrop-blur-md p-5 
              flex flex-col md:flex-row gap-5 justify-center items-center">
      <div class="text-center">
        <p class="text-[#616162] font-[kapakana] font-normal text-[8vh] my-[-2vh]"
          style="text-shadow: 2px 2px 5px rgb(219, 179, 193);">Welcome to</p>
        <p class="font-['Libre_Caslon_Display'] text-[5vh] font-normal text-[#3C3333]"
          style="text-shadow: 2px 2px 5px rgb(219, 179, 193);">Hair & Spa Salon</p>
        <p
          class="font-['Libre_Baskerville'] text-[2.5vh] font-normal text-white p-2 bg-[#E2C5CF] w-fit rounded-xl mx-auto my-4">
          All For The sake of your beauty</p>
      </div>
      <div class="flex justify-center md:justify-end  items-center md:pl-[5vh] max-[900px]:hidden">
        <img src="barber.png" alt="" class="object-contain h-[56vh]">
      </div>
    </div>
  </div>
  <!--  end welcome -->

  <!-- recommend -->
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <section class="allroom w-[93%] mx-auto my-5">
    <div class="flex justify-between items-center">
      <h2 class=" text-[5.6vh] font-[tangerine] text-[#616162] mb-3 font-bold">Recommended🔥</h2>
      <a href="" class="flex items-center gap-1 text-[#616162] font-[tangerine] text-[4vh] font-bold 
              ">
        <p class="hover:text-[#A5848F] hover:underline">More</p>
        <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
      </a>
    </div>

    <div class="swiper  p-5 overflow-hidden rounded-2xl">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
        <li class="swiper-slide">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <img src="https://inwfile.com/s-de/pbx3es.jpg" alt="Card Image"
              class="w-full mb-2 aspect-[4/3] object-cover rounded-xl">
            <div class="flex items-center gap-2  font-[inter] text-[#616162] text-[2vh]">
              <img src="shopping-cart.png" alt="" class="w-[2vh]">
              <p>Tensonez</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh] ">
              <img src="pending.png" alt="" class="w-[2vh]">
              <p>120 นาที</p>
            </div>
            <div class="flex items-center gap-2  font-[kanit] text-[#616162] text-[2vh]">
              <img src="usd-circle.png" alt="" class="w-[2vh]">
              <p>760 บาท</p>
            </div>
            <div class="flex justify-end">
              <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
            </div>
          </a>
        </li>
      </ul>
      <!-- Pagination ต้องอยู่ใน .swiper -->
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <!-- Meet Our Team -->
  <section class="w-[93%] mx-auto my-5">
    <div class="flex justify-between items-center">
      <h2 class=" text-[5.6vh] font-[tangerine] text-[#616162] mb-3 font-bold">Meet Our Team</h2>
      <a href="" class="flex items-center gap-1 text-[#616162] font-[tangerine] text-[4vh] font-bold 
              ">
        <p class="hover:text-[#A5848F] hover:underline">More</p>
        <span class="material-symbols-outlined text-[#A5848F]">arrow_forward</span>
      </a>
    </div>
    <div class="swiper2 overflow-hidden rounded-2xl max-w-full">
      <ul class="swiper-wrapper">
        <li class="swiper-slide ">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <div class="flex">
              <img src="https://www.shutterstock.com/image-photo/smiling-small-beauty-salon-owner-600nw-2059364630.jpg"
                alt="" class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
              <div class="font-[inter] text-[#616162]  p-2">
                <p class="bg-pink-100 p-2 rounded-xl text-[2vh]">Jane Doe(Hair Stylish)</p>
                <p class="text-[1.7vh] p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae et odit
                  dolorem excepturi qui illo eaquep>
                <p class="text-[1.7vh] flex justify-end">rating:4.5⭐️</p>

              </div>
            </div>
          </a>
        </li>
        <li class="swiper-slide ">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <div class="flex">
              <img src="https://www.shutterstock.com/image-photo/smiling-small-beauty-salon-owner-600nw-2059364630.jpg"
                alt="" class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
              <div class="font-[inter] text-[#616162]  p-2">
                <p class="bg-blue-100 p-2 rounded-xl text-[2vh]">Jane Doe(Spa Stylish)</p>
                <p class="text-[1.7vh] p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae et odit
                  dolorem excepturi qui illo eaquep>
                <p class="text-[1.7vh] flex justify-end">rating:4.5⭐️</p>
              </div>
            </div>
          </a>
        </li>
        <li class="swiper-slide ">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <div class="flex">
              <img src="https://www.shutterstock.com/image-photo/smiling-small-beauty-salon-owner-600nw-2059364630.jpg"
                alt="" class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
              <div class="font-[inter] text-[#616162]  p-2">
                <p class="bg-blue-100 p-2 rounded-xl text-[2vh]">Jane Doe(Spa Stylish)</p>
                <p class="text-[1.7vh] p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae et odit
                  dolorem excepturi qui illo eaquep>
                <p class="text-[1.7vh] flex justify-end">rating:4.5⭐️</p>

              </div>
            </div>
          </a>
        </li>
        <li class="swiper-slide ">
          <a href="#" class="select-none block bg-white p-4 rounded-2xl no-underline 
                  border-2 border-transparent shadow-md 
                  hover:border-[#7B9CC8] active:cursor-grabbing">
            <div class="flex">
              <img src="https://www.shutterstock.com/image-photo/smiling-small-beauty-salon-owner-600nw-2059364630.jpg"
                alt="" class="w-[20vh] mb-2 aspect-[4/3] object-cover rounded-xl">
              <div class="font-[inter] text-[#616162]  p-2">
                <p class="bg-blue-100 p-2 rounded-xl text-[2vh]">Jane Doe(Spa Stylish)</p>
                <p class="text-[1.7vh] p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae et odit
                  dolorem excepturi qui illo eaquep>
                <p class="text-[1.7vh] flex justify-end">rating:4.5⭐️</p>

              </div>
            </div>
          </a>
        </li>

      </ul>
      <div class="swiper-pagination2 items-center justify-center flex my-5"></div>

    </div>
  </section>








  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    // nav manu
    const nav = document.querySelector('.nav');
    function menuToggle(e) {
      e.name = e.name === 'menu' ? 'close' : 'menu';
      nav.classList.toggle('top-[110%]');
      nav.classList.toggle('top-[-1000%]');
    }

    // slide
    const swiper = new Swiper('.swiper', {
      slidesPerView: 1,
      spaceBetween: 20,
      pagination: { el: '.swiper-pagination', clickable: true },
      breakpoints: {
        370: { slidesPerView: 2 },
        768: { slidesPerView: 3 },
        1024: { slidesPerView: 6 },
      },
    });

    const swiper2 = new Swiper('.swiper2', {
      slidesPerView: 1,
      spaceBetween: 20,
      pagination: { el: '.swiper-pagination2', clickable: true },
      breakpoints: {
        390: { slidesPerView: 1 },
        768: { slidesPerView: 2 },
        1024: { slidesPerView: 3 },
      },
    });
  </script>
</body>

</html>