<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <title>SSBeauty ตารางงาน</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gradient-to-r from-[#DBB3C1] to-[#F2F1EB] min-h-screen m-5">
    <!-- Header -->
    <div class="flex items-center justify-between bg-gray-100 p-4 mt-8 shadow  rounded-lg bg-gradient-to-r from-[#B4919D] to-[#616162]">
        <div class="flex items-center space-x-2">
            <img src="" alt="logo" class="rounded-full">
            <span class="text-xl font-bold ">SSBeauty</span>
        </div>
        <div class="flex items-center space-x-4">
            <!-- เหลือใส่กดเชื่อม -->
            <button  class="hover:bg-white hover:bg-opacity-30 text-white px-4 py-2 rounded-lg text-xl">ตารางงาน</button>
            <button class="hover:bg-white hover:bg-opacity-30 text-white px-4 py-2 rounded-lg text-xl">เบิกสินค้า</button>
            <div class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center cursor-pointer hover:bg-pink-50" onclick="openPopupprofile()"></div>

            
        </div>
    </div>
    <!-- Filter -->
    <div id="filter" class="mt-6  relative w-full flex items-start">
        <!-- filter1 กลาง -->
        <div id="filter1" 
            class="flex space-x-2 bg-white bg-opacity-60 border rounded-lg p-3 absolute left-1/2 transform -translate-x-1/2">
            <div>
                <p class="text-gray-500">เดือน</p>
                <select id="month-filter" class="border rounded-lg px-3 py-1 mr-2 w-60">
                    <option value="all">ทั้งหมด</option>
                    <option value="jan">มกราคม</option>
                    <option value="feb">กุมภาพันธ์</option>
                    <option value="mar">มีนาคม</option>
                    <option value="apr">เมษายน</option>
                    <option value="may">พฤษภาคม</option>
                    <option value="jun">มิถุนายน</option>
                    <option value="jul">กรกฎาคม</option>
                    <option value="aug">สิงหาคม</option>
                    <option value="sep">กันยายน</option>
                    <option value="oct">ตุลาคม</option>
                    <option value="nov">พฤศจิกายน</option>
                    <option value="dec">ธันวาคม</option>
                </select>
            </div>
            <div>
                <p class="text-gray-500">สัปดาห์</p>
                <select id="week-filter" class="border rounded-lg px-3 py-1 mr-2">
                    <option value="all">ทั้งหมด</option>
                    <option value="mon">จันทร์</option>
                    <option value="tue">อังคาร</option>
                    <option value="wed">พุธ</option>
                    <option value="thu">พฤหัสบดี</option>
                    <option value="fri">ศุกร์</option>
                    <option value="sat">เสาร์</option>
                    <option value="sun">อาทิตย์</option>
                    </select>
            </div>
            <div class="pt-6">
                <button class="bg-pink-400 hover:bg-pink-500 text-white px-4 rounded-lg h-8">ค้นหา</button>
            </div>
        </div>

        <!-- summery ชิดขวา -->
        <div id="summery" class="ml-auto">
            <div class="bg-[#A5848F] rounded-lg text-center text-white pt-3 p-3">
                <p>สรุปรายได้:</p>
                <p class="bg-[#FFFFFF] bg-opacity-20 rounded-lg px-4">2000 บาท</p>
            </div>
        </div>
    </div>
    <div class="max-w-7xl mx-auto mt-8 space-y-4 ">
        <!-- แบบที่ 1 -->
        <div class="job bg-white bg-opacity-60 shadow rounded-lg p-4 flex justify-between items-center cursor-pointer hover:bg-pink-50" onclick="openPopup()"
            data-month="" data-week="">
            <div>
                <div class="flex">
                    <div class="text-sm text-white bg-[#ECCF7E] rounded-lg p-1 px-2 h-7">จ 20/08/2026</div>
                    <div class="text-s text-gray-600 p-1">9.00 น</div>
                </div>
                <div class="flex space-x-3">
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">รายการ: </div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">ผู้ใช้บริการ: </div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">สถานะให้บริการ: </div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">ชำระ:</div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                </div>
            </div>
            <div class="text-gray-500">edit</div>
        </div>
        <!-- แบบที่ 2 -->
        <div class="job bg-white bg-opacity-60 shadow rounded-lg p-4 flex justify-between items-center cursor-pointer hover:bg-pink-50" onclick="openPopup()"
            data-month="" data-week="">
            <div>
                <div class="flex">
                    <div class="text-sm text-white bg-[#ECCF7E] rounded-lg p-1 px-2 h-7">จ 20/08/2026</div>
                    <div class="text-s text-gray-600 p-1">9.00 น</div>
                </div>
                <div class="flex space-x-3">
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">รายการ: </div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">ผู้ใช้บริการ: </div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">ผลการให้บริการ: </div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                    <div class="flex">
                        <div class="text-l text-gray-600 p-1">รายได้:</div>
                        <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                    </div>
                </div>
            </div>
            <!-- <div class="text-gray-500">edit</div> -->
        </div>
    </div>

    <!-- Popupprofile -->
    <div id="popuppro" class="fixed inset-0 bg-black bg-opacity-40 hidden items-center justify-center">
        <div class="h-10 bg-gray-100"></div>
        <div class="bg-[#F2F1EB] rounded-xl shadow-lg w-[600px] p-6 relative">
            <!-- ปุ่มปิด -->
            <button class="absolute top-3 right-3 text-gray-500 hover:text-red-500" onclick="closePopupprofile()">✖</button>
      
            <h2 class="text-lg font-bold mb-4">ข้อมูลพนังงาน</h2>
      
            <div class="space-y-2 text-sm  p-3 rounded-lg">
                <div class="flex">
                    <div class="flex">
                        <label class="block text-gray-600 p-1"><b>ชื่อ:</b></label>
                        <input type="text" value="" class="w-full border rounded-lg px-3 py-1" >
                    </div >
                    <div class="flex">
                        <label class="block text-gray-600 p-1"><b>ชื่อเล่น:</b></label>
                        <input type="text" value="" class="w-20 border rounded-lg px-3 py-1" >
                    </div>
                </div>
                <div class="flex">
                    <div class="flex">
                        <label class="block text-gray-600 p-1"><b>เบอร์โทร: </b></label>
                        <input type="text" value="" class=" border rounded-lg px-3 py-1" >
                    </div >
                    <div class="flex">
                        <label class="block text-gray-600 p-1"><b>Email: </b></label>
                        <input type="text" value="" class=" border rounded-lg px-3 py-1">
                    </div>
                </div>
                <div class="flex">
                    <div class="flex">
                        <label class="block text-gray-600 p-1"><b>หน้าที่:</b></label>
                        <select class="w-20 border rounded-lg px-3 py-1">
                            <option value="" ></option>
                        </select>
                    </div >
                    <div class="flex">
                        <label class="block text-gray-600 p-1"><b>โปรไฟล์:</b></label>
                        <input type="file" accept="image/*" class=" border rounded-lg px-3 py-1" onchange="previewImage(event)">
                        <img id="preview" class="w-20 h-20 ml-2 hidden" alt="Preview Image">
                    </div>
                </div>
            </div>
            <h3 class="mt-4 font-semibold text-gray-600">สิ่งที่ทำได้:</h3>
            <div class="flex space-x-3">
                <label class="flex items-center ">
                    <input type="checkbox" name="services" value="" class="mr-2"> ตัดผม
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> ย้อมผม
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> ดัดผม
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> ทำสปาผม
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> ไดร์ผม
                </label>
            </div>
            <div class="flex space-x-3">
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> นวดหน้า
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> ทำเล็บ
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> สปามือและเท้า
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> ทำสปาผม
                </label>
                <label class="flex items-center">
                    <input type="checkbox" name="services" value="" class="mr-2"> นวดตัว
                </label>
            </div>
            <h3 class="mt-4 font-semibold text-gray-600">แนะนำตัว:</h3>
            <textarea class="w-full max-w-md border rounded-lg px-3 py-2 h-24"></textarea>

            <button class="mt-4 w-full bg-pink-500 hover:bg-pink-600 text-white py-2 rounded-lg">ยืนยัน</button>
        </div>
    </div>

    <!-- Popup -->
    <div id="popup" class="fixed inset-0 bg-black bg-opacity-40 hidden items-center justify-center">
        <div class="h-10 bg-gray-100"></div>
        <div class="bg-[#F2F1EB] rounded-xl shadow-lg w-[400px] p-6 relative">
            <!-- ปุ่มปิด -->
            <button class="absolute top-3 right-3 text-gray-500 hover:text-red-500" onclick="closePopup()">✖</button>
      
            <h2 class="text-lg font-bold mb-4">ข้อมูลลูกค้า</h2>
      
            <div class="space-y-2 text-sm bg-gray-50 p-3 rounded-lg">
                <p><b>ชื่อ:</b> สมหญิง สมหญิง <b>ชื่อเล่น:</b> หญิง</p>
                <p><b>เบอร์โทร:</b> 0000000000</p>
                <p><b>Email:</b> som@email.com</p>
            </div>
            <h3 class="mt-4 font-semibold text-gray-600">รายละเอียด:</h3>
            <div class="space-y-3 mt-2 text-l">
                <div class="flex">
                    <label class="block text-gray-600 p-1">รายการ:</label>
                    <input type="text" value="" class="w-40 border rounded-lg px-3 py-1" readonly>
                </div>
                <div class="flex">
                    <label class="block text-gray-600 p-1">บริการเสริม:</label>
                    <select class="w-30 border rounded-lg px-3 py-1">
                        <option></option>
                        <option>มาสก์หน้า</option>
                        <option>นวดคอ</option>
                    </select>
                </div>
                <div class="flex">
                    <label class="block text-gray-600 p-1">สถาณะการให้บริการ:</label>
                    <select class="w-30 border rounded-lg px-3 py-1 text-l">
                        <option></option>
                        <option>เสร็จสิ้น</option>
                    </select>
                </div>
                <div class="flex">
                    <label class="block text-gray-600 p-1">รวมค่าใช้จ่าย:</label>
                    <input type="text" value="" class="w-20 border rounded-lg px-3 py-1" readonly>
                    <p class="text-gray-600">บาท</p>
                </div>
            </div>
            <button class="mt-4 w-full bg-pink-500 hover:bg-pink-600 text-white py-2 rounded-lg">ยืนยัน</button>
        </div>
    </div>

    <!-- ทำfilter -->
    <script>
        function openPopup() {
            document.getElementById("popup").classList.remove("hidden");
            document.getElementById("popup").classList.add("flex");
        }
        function closePopup() {
            document.getElementById("popup").classList.add("hidden");
        }
        function openPopupprofile(){
            document.getElementById("popuppro").classList.remove("hidden");
            document.getElementById("popuppro").classList.add("flex");
        }
        function closePopupprofile() {
            document.getElementById("popuppro").classList.add("hidden");
        }
        function previewImage(event) {
            const file = event.target.files[0];
            if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const preview = document.getElementById('preview');
                preview.src = e.target.result;
                preview.classList.remove('hidden');
            }
            reader.readAsDataURL(file);
            }
        }
        //filter
        function filterSchedule() {
            const selectedMonth = document.getElementById("month-filter").value;
            const selectedWeek = document.getElementById("week-filter").value;
            const jobs = document.querySelectorAll(".job");

            jobs.forEach(job => {
                const jobMonth = job.dataset.month;
                const jobWeek = job.dataset.week;

                const matchMonth = selectedMonth === "all" || jobMonth === selectedMonth;
                const matchWeek = selectedWeek === "all" || jobWeek === selectedWeek;

                job.style.display = (matchMonth && matchWeek) ? "flex" : "none";
            });
        }

    </script>
</body>
</html>